<ion-content>
  <h1>Calculators</h1>
  <ion-row class="row1">
    <ion-col size="5.5" class="col1">
      <img src="assets/image/car.png" width="90%">
      <h2 class="car">Car</h2>
    </ion-col>
    <ion-col size="5.5" class="col1">
      <img src="assets/image/invest.png" width="80%">
      <h2 class="invest">investment</h2>
    </ion-col>
  </ion-row>
  <ion-row class="row1">
    <ion-col size="5.5" class="col1">
      <img src="assets/image/home.png" width="100%" class="home">
      <h2 class="invest">Property</h2>
    </ion-col>
    <ion-col size="5.5" class="col1">
      <img src="assets/image/savings.png" width="80%" class="pigibanck">
      <h2 class="invest">Savings</h2>
    </ion-col>
  </ion-row>
  <h3 (click)="gomore()">Look For...</h3>
  <h4>(Exclusive to sleek Finance Users)</h4>
  <div>
    <ion-row class="row2">
      <ion-col class="col2" size="3.5">
        <img src="assets/image/invest.png" width="50px" class="investmentimage">
        <h2 class="investtxt">Investment</h2>
      </ion-col>
      <ion-col class="col2" size="3.5">
        <img src="assets/image/loan.png" class="investmentimage">
        <h2 class="invest">Loan</h2>
      </ion-col>
      <ion-col class="col2" size="3.5">
        <img src="assets/image/savings.png"  width="50px" class="pigiimage">
        <h2 class="investtxt">Savings</h2>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
